@import '~bootstrap/dist/css/bootstrap.min.css';


.tabela{
    position: absolute;
    width: 1350px;
    height: 200px;
    z-index: 15;
    top: 30%;
    left: 12%;
    margin: -100px 0 0 -150px;
}